html {
    background-color: rgb(160, 255, 97);
    color:rgb(220, 20, 60);
}

.square-list {
    list-style-type: square;
    background-color: darkkhaki;
}

.letter-list {
    list-style-type: upper-alpha;
    background-color: aqua;
}

.nav {
    list-style-type: none;
    background-color: cornflowerblue;
    padding: 20px;
    margin: 20px;
}

.fun-list {
    list-style-type: lower-latin;
    background-color: darkgreen;
}
